<!-- <mdt-table save-row-callback="vm.saveRow(row)" ng-if="vm.showTable">
    <mdt-header-row>
        <mdt-column align-rule="left">Artist</mdt-column>
        <mdt-column>Title</mdt-column>
        <mdt-column>Rating</mdt-column>
    </mdt-header-row>
    <mdt-row>
        <mdt-cell editable-field="smallEditDialog">
            {{vm.editedMetadata.artist}}
        </mdt-cell>
        <mdt-cell editable-field="smallEditDialog">
            {{vm.editedMetadata.title}}
        </mdt-cell>
        <mdt-cell editable-field="smallEditDialog">
            {{vm.editedMetadata.rating}}
        </mdt-cell>
    </mdt-row>
</mdt-table> -->
<md-content>
    <md-chips ng-model="editor.editedMetadata.artist"></md-chips>
</md-content>
