<md-toolbar>
    <div class="md-toolbar-tools" layout="row">
        <span flex="33" ng-if="player.playingTrack.title">
            <player-track data="player.playingTrack"></player-track>
        </span>
        <span flex="33" ng-if="!player.playingTrack.title"></span>
        <div flex="33" layout="row">
            <span flex></span>
            <md-button class="md-raised md-icon-button" ng-disabled="!player.canPrev()" ng-click="player.prev()" aria-label="Previous">
                <md-icon md-font-set="material-icons">skip_previous</md-icon>
            </md-button>
            <md-button ng-if="!player.isPlaying()" ng-click="player.play()" class="md-fab" aria-label="Play">
                <md-icon md-font-set="material-icons">play_arrow</md-icon>
            </md-button>
            <md-button ng-if="player.isPlaying()" ng-click="player.pause()" class="md-fab" aria-label="Pause">
                <md-icon md-font-set="material-icons">pause</md-icon>
            </md-button>
            <md-button class="md-raised md-icon-button" ng-disabled="!player.canNext()" ng-click="player.next()" aria-label="Next">
                <md-icon md-font-set="material-icons">skip_next</md-icon>
            </md-button>
            <span flex></span>
        </div>
        <span flex="33"></span>
        <md-slider-container>
            <span>{{player.volume}}</span>
            <md-slider flex min="0" max="100" ng-model="player.volume" ng-change="player.setVolume(player.volume)" aria-label="Volume">
            </md-slider>
        </md-slider-container>
    </div>
</md-toolbar>
