<html>

<head>
    <meta charset="UTF-8">
    <title>Music Scanner</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="./node_modules/angular-material/angular-material.css">
    <link rel="stylesheet" href="./node_modules/md-data-table/dist/md-data-table-style.css">
    <style>
        #vertical-container {
            height: 350px;
            width: 100%;
        }
    </style>
</head>

<body ng-app="scannerApp" ng-cloak style="display: flex; flex-direction: column;">
    <md-toolbar ng-controller="ScannerController as vm" class="md-toolbar-tools">
        <div class="md-toolbar-tools">
            <h5>
                <span>
                    <span ng-if="vm.scanning">Loading...</span>
                    <span ng-if="!vm.scanning">Ready</span>
                </span>
            </h5>
            <span flex></span>
            <h2>
                <span>Tracks: {{vm.collectionSize}}</span>
            </h2>
            <span flex></span>
            <md-menu>
                <md-button class="md-raised" ng-click="$mdOpenMenu($event)">
                    Scanner
                </md-button>
                <md-menu-content width="4">
                    <md-menu-item>
                        <md-button ng-disabled="vm.scanning" class="md-raised" ng-click="vm.scanFile()">File</md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-disabled="vm.scanning" class="md-raised" ng-click="vm.scanDir()">Directory</md-button>
                    </md-menu-item>
                    <md-menu-divider></md-menu-divider>
                    <md-menu-item>
                        <md-button ng-disabled="vm.scanning" class="md-raised" ng-click="vm.scanDirRec()">Recursive Directory</md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
    </md-toolbar>
    <md-content flex layout="row" ng-controller="CollectionController as vm">
        <md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="true" md-whiteframe="4" style="max-height: 100%; overflow-y: auto;">
            <md-input-container style="max-width: 95%;">
                <label>Search</label>
                <input type="text" ng-model="vm.searchKey" ng-model-options="{debounce: 250}" ng-change="vm.searchBy()"></input>
            </md-input-container>
            <md-content layout-padding>
                <artist-collection ng-repeat="(artist, tracks) in vm.collection" artist="artist" tracks="tracks"></artist-collection>
            </md-content>
        </md-sidenav>
        <md-content ng-controller="EditorController as vm" flex>
            <mdt-table
                save-row-callback="vm.saveRow(row)"
                ng-if="vm.showTable">
                <mdt-header-row>
                    <mdt-column align-rule="left">Artist</mdt-column>
                    <mdt-column>Title</mdt-column>
                    <mdt-column>Rating</mdt-column>
                </mdt-header-row>
                <mdt-row>
                    <mdt-cell editable-field="smallEditDialog">
                        {{vm.editedMetadata.artist}}
                    </mdt-cell>
                    <mdt-cell editable-field="smallEditDialog">
                        {{vm.editedMetadata.title}}
                    </mdt-cell>
                    <mdt-cell editable-field="smallEditDialog">
                        {{vm.editedMetadata.rating}}
                    </mdt-cell>
                </mdt-row>
            </mdt-table>
        </md-content>
    </md-content>
    <script src="./node_modules/jquery/dist/jquery.min.js"></script>
    <script src="./node_modules/lodash/lodash.min.js"></script>
    <script src="./node_modules/angular/angular.js"></script>
    <script src="./node_modules/angular-sanitize/angular-sanitize.js"></script>
    <script src="./node_modules/angular-animate/angular-animate.js"></script>
    <script src="./node_modules/angular-aria/angular-aria.js"></script>
    <script src="./node_modules/angular-material/angular-material.js"></script>
    <script src="./node_modules/angular-material-icons/angular-material-icons.js"></script>
    <script src="./node_modules/md-data-table/dist/md-data-table-templates.js"></script>
    <script src="./node_modules/md-data-table/dist/md-data-table.js"></script>
    <script src="./client/js/app.js"></script>
    <script src="./client/js/scanner.controller.js"></script>
    <script src="./client/js/collection.controller.js"></script>
    <script src="./client/js/editor.controller.js"></script>
    <script src="./client/js/superfilter.factory.js"></script>
    <script src="./client/js/artist_collection.directive.js"></script>
    <script src="./client/js/track.directive.js"></script>
</body>


</html>
